/* signup.css */
body {
    font-family: sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-image: url('/Assets/images/image2.jpg'); /* Set background image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent image repetition */
}

.registration-container {
    background-color: rgba(222, 238, 243, 0.9); /* Add a semi-transparent white background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 350px; /* Adjust as needed */
}

.registration-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.registration-container .form-group {
    margin-bottom: 15px;
}

.registration-container label {
    display: block;
    margin-bottom: 5px;
}

.registration-container input[type="text"],
.registration-container input[type="email"],
.registration-container input[type="tel"],
.registration-container input[type="password"] {
    width: calc(100% - 12px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.registration-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.registration-container button:hover {
    background-color: #0056b3;
}

.registration-container .form-group:last-child {
    margin-bottom: 20px;
}

.registration-links {
    margin-top: 15px;
    text-align: center;
}

.registration-links a {
    color: #007bff;
    text-decoration: none;
    margin: 0 5px;
}

.registration-links a:hover {
    text-decoration: underline;
}

.registration-links p {
    margin-top: 5px;
}